* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-weight: 700;
}

header {
  width: 100%;
  background-color: #0094f8;
  margin-bottom: 50px;
}

header i {
  margin-left: 20px;
  color: #ffff;
  font-size: 25px;
  padding: 5px 0 5px 10px;
}

main {
  margin-left: 50px;
}

.top {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 50px;
}

.top i {
  color: grey;
  font-size: 50px;
  margin: 0 20px 0 0;
}

.top p {
  color: #04145a;
}

.details {
  padding-bottom: 5px;
}

.details span:nth-child(2) {
  padding-left: 20px;
}

.firstName,
.lastName,
.email,
.bussiness,
.mobile {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.firstName input,
.lastName input,
.email input,
.bussiness input,
.mobile input {
  width: 30%;
  margin-left: 70px;
}

.lastName input {
  margin-left: 73px !important;
}

.photo {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo i {
  font-size: 50px;
  color: gray;
  margin-left: -700px;
}

.photo div {
  margin-right: 100px;
  margin-left: -100px;
}

.photo div button {
  margin-left: 20px;
  padding: 5px;
  border: 0;
  outline: 0;
}

.email input {
  margin-left: 84px !important;
}

.mobile input {
  margin-left: 84px !important;
}

.last {
  margin-top: 20px;
}

.last label {
  display: block;
  margin-bottom: 10px;
}

.passP {
  color: #0094f8;
}

.boot {
  margin: 20px 0;
}

.boot p:last-child {
  padding: 10px 0 0 0;
}

.Current input {
  margin-left: 122px !important;
}

.New input {
  margin-left: 145px !important;
}

input::placeholder {
  font-weight: bold;
  color: #000;
  padding-left: 20px;
  outline: 0;
  border: 0;
}

.theLast {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}

.theLast button { 
  padding: 4px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0094f8;
  
}
.theLast a
{
  text-decoration: none;
  color: #ffff;
}


.theLast button:last-child {
  margin-left: 20px;
  color: #ffff;
  background-color: #0094f8;
}
.btnUpdate
{
  background-color: #0094f8;
  color: #ffff;
}
.btnDelete
{
  background-color: #0094f8;
  color: #ffff; 
}
